version: "3.9"

services:
  db:
    container_name: db
    image: postgres:12
    ports:
      - 5431:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=kenzie_pet
